= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, dashboard_projects_url(rss_url_options), title: "All activity")

- page_title    "Projects"
- header_title  "Projects", dashboard_projects_path

.user-callout{ 'callout-svg' => custom_icon('icon_customization') }

- if @projects.any? || params[:filter_projects]
  = render 'dashboard/projects_head'

- if @last_push
  = render "events/event_last_push", event: @last_push

- if @projects.any? || params[:filter_projects]
  = render 'projects'
- else
  = render "zero_authorized_projects"
